<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295836446540-g54p4vhvleu9gbgcpt49k87gq0l67b6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295836446540-g54p4vhvleu9gbgcpt49k87gq0l67b6u</string>
	<key>API_KEY</key>
	<string>AIzaSyAiQ_JdX3extKzyGel6MU8d3PPvtfE2bAM</string>
	<key>GCM_SENDER_ID</key>
	<string>295836446540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sublytics.Sublytics</string>
	<key>PROJECT_ID</key>
	<string>sublytics-project</string>
	<key>STORAGE_BUCKET</key>
	<string>sublytics-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295836446540:ios:a0c5d11af1014c4a2a29e9</string>
</dict>
</plist>